body{
    background: linear-gradient(to right, #53629e 0%, #87bac3 100%);
}
h1{
    position: absolute;
    top:100px;
    left:580px;
    font-size: 45px;
    color:#473472;
    font-family: cursive;
}
p{
    font-size: 50px;
    position: absolute;
    top:170px;
    left:720px;
    color:whitesmoke;
}
#start{
    position: absolute;
    top:300px;
    left:500px;
    width:160px;
    height:40px;
    border-radius: 10px;
    border-color: #0b2036;
    background-color: #4e738f;
    color: #a3c2d9;
    font-family: cursive;
    font-size: 20px;
}
#stop{
    font-family: cursive;
    position: absolute;
    top:300px;
    left:670px;
    width:160px;
    height:40px;
    border-radius: 10px;
    border-color: #0b2036;
    background-color: #4e738f;
    color: #a3c2d9;
    font-size: 20px;
}
#reset{
    font-family: cursive;
    position: absolute;
    top:300px;
    left:850px;
    width:160px;
    height:40px;
    border-radius: 10px;
    border-color: #0b2036;
    background-color: #4e738f;
    color: #a3c2d9;
    font-size: 20px;;
}